body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial;
    background: #f5f5f5;
}

.card {
    width: 320px;
}

/* FORM */
.form {
    display: flex;
    border: 2px solid purple;
    border-radius: 25px;
    overflow: hidden;
    background: white;
}

.form input {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
}

#btn-add {
    border: none;
    padding: 10px 15px;
    background: linear-gradient(45deg, purple, violet);
    color: white;
    cursor: pointer;
}

/* FILTERS */
.filters {
    display: flex;
    margin: 15px 0;
}

.filters button {
    flex: 1;
    margin: 0 5px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background: gray;
    color: white;
    cursor: pointer;
}

.filters .active {
    background: linear-gradient(45deg, purple, violet);
}

/* LIST */
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* LEFT SIDE */
.left {
    display: flex;
    align-items: center;
}

.circle {
    width: 18px;
    height: 18px;
    border: 2px solid purple;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.done .circle {
    background: purple;
}

.done span {
    text-decoration: line-through;
    color: gray;
}

/* DELETE */
.delete {
    cursor: pointer;
    color: purple;
    font-size: 18px;
}